/*CSS General

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
*/
.App {
  text-align: center;
  background-color: #000000;
  margin: 0;
  display: flex; /* Añadido para el diseño flexbox */
  min-height: 100vh; /* Asegura la altura del viewport */
  flex-direction: column;
}
.main-content {
  padding-top: 60px; /* Ajusta según la altura del menú */
  padding-bottom: 80px; /* Ajusta según la altura del footer */
}
.content {
  flex: 1; /* Permite que el contenido ocupe el espacio restante */
  padding: 109px 0px 191px; /* Agrega un poco de relleno para el contenido principal */
  overflow-y: auto; /* Habilita el desplazamiento si el contenido excede la altura del viewport */
}
/*CSS Contenedor Objetos*/
.container {
  padding: 20px;
  background-color: #000000;
}
.contenedor {
  color: aliceblue;
}
.contenedor h3 {
  padding-bottom: 20px;
}
.contenedor form {
  padding: 20px;
  background-color: #222222;
  border-radius: 8px;
  box-shadow: 3px 3px 20px aliceblue;

}
.btn {
  padding-right: 100px;
}
.app-container {
  background-color: #000000;
}
/* CSS Menu*/
.nav-item {
  padding: 5px 10px;
}
.nav-item a {
  background-color: #eee;
  color: inherit;
}
.nav-item a:hover {
  color: inherit;
}
.containerMenu {
  background-color: #1a76d2;
  padding: 0 30px;
  border-bottom: 2px solid #343a40;
  width: 100%;
  position: fixed; /* Fija el menú en la parte superior */
  top: 0; /* Posiciona en la parte superior del viewport */
  z-index: 10;
}

/* CSS Table*/
.table tbody td{
  background-color: #222222;
  color: aliceblue;
}
.table th {
  border-radius: 30px;
  border: none;
}
.table td {
  border-radius: 8px;
}
#botones_td {
  background-color: transparent;
  border: none;
}
/*CSS Footer*/
.footer {
  color: aliceblue;
  background-color: #333;
  width: 100%;
  text-align: center;
  padding-bottom: 1px;
  padding-top: 16px;
  position: fixed; /* Fija el pie de página en la parte inferior */
  bottom: 0; /* Posiciona en la parte inferior del viewport */
  z-index: 10; /* Asegura que el pie de página se mantenga debajo de otro contenido */
}
.active {
  font-weight: bold;
  color: red; /* Puedes ajustar el color según tu diseño */
}

.contact-info,
.social-links {
  list-style-type: none;
  padding: 0;
}
.social-links li {
  display: inline-block;
  margin-right: 10px;
}
.social-links li:last-child {
  margin-right: 0;
}
.social-links a,
.contact-info a {
  color: aliceblue;
}
.social-links a:hover,
.contact-info a:hover {
  color: #1a76d2;
}
.social-links a {
  font-size: 20px;
}
